<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-tripleSlash.ZPM">
    <Module>
      <Name>iris-tripleSlash</Name>
      <Version>1.0.0</Version>
      <Description>/// Generate unit test cases from the documentation.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="iris.tripleSlash.PKG"/>
      <UnitTest Name="/tests" Package="iris.tripleSlash.unittests" Phase="test"/>
    </Module>
  </Document>
</Export>